@model IEnumerable<AlquilerCanchas.Models.Reserva>

@{
    ViewData["Title"] = "ListadoReserva";
}

<h3>Mis Reservas</h3>

<p>
    <a asp-controller="Reservas" asp-action="Create">
        Crear nueva reserva
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Fecha Reserva
            </th>
            <th>
                Cancha
            </th>
            <th>
                Horario
            </th>
            <th>
                Tipo
            </th>
            <th>
                A Pagar
            </th>
            <th>
                Estado
            </th>


        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancha.Nombre)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Turno.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancha.TipoCancha.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Descripcion)
            </td>
        </tr>
        }
    </tbody>
</table>