@model IEnumerable<AlquilerCanchas.Models.Cancha>

@{
    ViewData["Title"] = "";
}

<h3>Próximas funciones</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de Cancha
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCancha.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                Precio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoCancha.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoCancha.Descripcion)
                </td>
               

   
            </tr>
        }
    </tbody>
</table>