@model IEnumerable<AlquilerCanchas.Models.Turno>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de turnos</h1>

<p>
    <a asp-action="Create">Crear nuevo Turno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaFin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horaFin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
